*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", serif !important;
  background: #fffaf6 !important;
}

html {
  scroll-behavior: smooth;
}

a {
  color: unset !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin-bottom: 0px !important;
}

input:focus {
  outline: none;
}

header {
  padding: 20px 30px 30px 30px;
  background-color: transparent;
  position: sticky;
  top: -5px;
  z-index: 1000;
}

header li:hover {
  cursor: pointer;
}

nav {
  padding: 8px 15px;
  border-radius: 14px;
  background: #ffffffb8;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 32px 0px #00000033;
}

nav.active {
  background: #ffffff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

nav .left-nav {
  z-index: 3;
}

nav .vertical-line {
  height: 20px;
  width: 1px;
  background-color: #2469ff;
  border-radius: 2px;
}

nav .second-vertical-line {
  height: 20px;
  width: 1px;
  background-color: #000000;
  border-radius: 2px;
}

nav button {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.85rem;
  font-weight: 500;
}

nav button.white-btn {
  border: 1px solid #1f2937;
  color: #1f2937;
  background-color: transparent;
}

nav button.blue-btn {
  border: none;
  color: #ffffff;
  background-color: #00083d;
}

nav ul li {
  font-size: 0.85rem;
  font-weight: 500;
  color: #1f2937;
}

nav ul li.active {
  color: #2469ff;
}

nav > ul li.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #2469ff;
  margin-top: 5px;
  margin-bottom: -5px;
  border-radius: 3px;
}

.middle-nav {
  z-index: 3;
}

.middle-nav > li {
  padding: 8px 3px 8px 15px;
  border-radius: 10px;
}

.middle-nav li:first-child img.rotate {
  transform: rotate(180deg);
}

.middle-nav li:first-child.active {
  color: #1f2937;
  background-color: #ffffff;
}

.services-dropdown-web-view {
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px;
  top: 60px;
  left: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: -1;
  height: 460px;
}

.services-dropdown-web-view.active {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.services-dropdown-web-view > .columns {
  border-right: 1px solid #e5e7eb;
  background-color: #f2f4f7;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 8px !important;
  width: 350px;
}

.services-dropdown-web-view > div .columns {
  padding: 20px 100px 20px 20px !important;
}

.services-dropdown-web-view .columns > div {
  padding: 15px;
  border-radius: 16px;
}

.services-dropdown-web-view .columns > div.active {
  background-color: #ffffff;
}

.services-dropdown-web-view .columns h4 {
  color: #111827;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 0px;
}

.services-dropdown-web-view .columns ul {
  padding: 0px 30px 20px 0px;
}

.services-dropdown-web-view .columns li:first-child {
  color: #677bfe;
  font-weight: 600;
  white-space: nowrap;
  font-size: 1rem;
}

.services-dropdown-web-view .maintenance-services,
.services-dropdown-web-view .aesthetic-services {
  margin-bottom: 25px !important;
  opacity: 0;
  transform: translateY(20px);
  position: absolute;
  left: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease;
  z-index: -1;
  pointer-events: none;
}

.services-dropdown-web-view .maintenance-services.active,
.services-dropdown-web-view .aesthetic-services.active {
  opacity: 1;
  transform: translateY(0);
}

.services-dropdown-web-view li {
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.services-dropdown-web-view p,
.services-dropdown-web-view li {
  color: #4b5563;
}

nav .location {
  padding: 8px 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #0000001c;
  border-radius: 20px;
}

nav .location:hover {
  cursor: pointer;
}

nav .location.active {
  box-shadow: 0px 0px 6px 0px #99a7fe;
}

nav .location ul {
  position: absolute;
  background-color: #ffffff;
  padding-left: 0px;
  top: 40px;
  right: 0px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease;
  height: 200px;
  overflow-y: auto;
}

nav .location.active ul {
  opacity: 1;
  z-index: 1;
}

nav .location ul li {
  padding: 8px 13px;
  white-space: nowrap;
}

.right-nav .location ul li.active {
  font-weight: 600;
  color: #2469ff;
}

nav .search-engine input {
  padding: 8px 10px 8px 35px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #0000001c;
  border-radius: 20px;
  border: none;
  font-size: 0.85rem;
}

.search-engine img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.hamburger {
  background: #ffffff;
  padding: 10px 8px;
  box-shadow: 0px 0px 8px 0px #0000001c;
  border-radius: 6px;
}

.burger {
  position: relative;
  width: 17px;
  height: 15px;
  background: #ffffff;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  width: 10px;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 12px;
  left: 3px;
}

.mobile-nav {
  position: absolute;
  background-color: #ffffff;
  width: 930px;
  left: 12px;
  top: 50px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  border: 1px solid #ffffff;
  z-index: -1;
}

nav.active .mobile-nav > div:first-child ul {
  padding-left: 0px;
}

nav.active .mobile-nav {
  opacity: 1;
  transform: translateY(0px);
  z-index: 1;
}

.mobile-nav > div:first-child {
  border-top: 1px solid #e5e7eb;
}

.mobile-nav > div:first-child ul li {
  padding: 10px;
  font-size: 0.9rem;
  border-top: 1px solid #f2f4f7;
}

.mobile-nav > div:first-child ul li:first-child {
  border: none;
}

.mobile-nav > div:first-child ul li.active {
  color: #2469ff;
  font-weight: 600;
}

.mobile-nav .location-dropdown .location {
  box-shadow: 0px 0px 10px 0px #ccd3ff;
}

.mobile-nav > .location-dropdown ul {
  padding-left: 0px;
  height: 450px;
}

.mobile-nav > .location-dropdown ul li {
  padding: 10px;
  font-size: 0.9rem;
  border-top: 1px solid #f2f4f7;
}

.mobile-nav > .location-dropdown ul li.active {
  color: #2469ff;
  font-weight: 600;
}

.mobile-nav .search-engine {
  width: 90%;
}

.mobile-nav .search-engine input {
  width: 100%;
}

.mobile-nav button {
  width: 100%;
  background-color: transparent;
  border: 1.2px solid #1f2937;
  color: #1f2937;
  padding: 8px;
}

.mobile-service-dropdown {
  overflow-y: hidden;
}

.mobile-service-dropdown .mobile-navbar-slider {
  overflow-y: scroll;
  height: 500px;
}

.mobile-service-dropdown > div > div {
  box-shadow: 0px 0px 8px 0px #00000014;
  border-radius: 12px;
}

.mobile-service-dropdown > div > div > div {
  padding: 15px;
}

.mobile-service-dropdown > div > div > div:first-child {
  border-bottom: 1px solid #e5e7eb;
}

.mobile-service-dropdown > div > div > div h4 {
  color: #111827;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 5px;
}

.mobile-service-dropdown > div > div > div p {
  font-size: 0.8rem;
  color: #4b5563;
  margin-bottom: 0;
  line-height: 21px;
  font-weight: 500;
}

.mobile-service-dropdown > div > div > div ul {
  padding-left: 0px;
  margin: 0px 40px 20px 0px !important;
}

.mobile-service-dropdown > div > div > div li:first-child {
  font-weight: 600;
  font-size: 0.9rem;
  color: #677bfe;
}

.mobile-service-dropdown > div > div > div li {
  padding: 5px 0px;
  color: #4b5563;
  font-size: 0.8rem;
}

/* Main */

main {
  padding: 60px 0px;
  background-color: #fffaf6;
}

.section {
  padding: 60px 0px;
}

.floating-whatsapp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
}

/* Hero Section */
.hero-video-container {
  width: 90%;
  height: 70vh;
  margin-left: auto;
}

.hero-video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: width 0.3s ease-out;
}

.hero-section .content {
  position: absolute;
  top: 20%;
  left: 0%;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.hero-section .content h2 {
  color: #cc6502;
  font-weight: 700;
  background-color: #ffffff;
  padding: 7px 20px;
  margin-bottom: 0px;
  line-height: 45px;
  font-size: 2rem;
  width: max-content;
}

.hero-section .content h2:nth-child(2) {
  padding-right: 30px;
}

.hero-section .content p {
  color: #00041e;
  padding: 8px 20px;
  background-color: #ffdbb8;
  width: max-content;
  margin-bottom: 0px;
  font-weight: 600;
}

/* About Us Section */
.about-us-section {
  background-color: #ffebd8;
  height: 800px;
}

.about-us-section .image-container {
  position: absolute;
  left: -5px;
  width: 45%;
  height: 600px;
  overflow: hidden;
  border-radius: 8px;
}

.about-us-section .about-content {
  width: 45%;
  transform: translateY(150px);
  margin-right: 80px;
}

.about-us-section .image-container img {
  border-radius: 8px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 800px;
  object-fit: cover;
  border-radius: 8px;
}

.about-content h6 {
  color: #e67301;
  font-weight: 700;
}

.about-content h2 {
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 6px;
  font-size: 2.5rem;
}

.about-content p:nth-child(3) {
  color: #4b5563;
  line-height: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px !important;
}

.about-content p:nth-child(3).expanded {
  display: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: visible;
}

.about-content p:nth-child(4) {
  font-weight: 600;
  color: #e67301;
  font-size: 0.9rem;
  text-decoration: underline;
}

.about-content button {
  padding: 8px 25px;
  background-color: #e67301;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
}

/* Statistics section */
.statistics-section {
  height: 800px;
  align-items: center;
  justify-content: center;
}

.statistics-section .image-container,
.statistics-section .statistics-content {
  width: 50%;
}

.statistics-section .image-container {
  position: absolute;
  right: 0px;
}

.statistics-section .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.statistics-section h2 {
  color: #1f2937;
  font-weight: 700;
  font-size: 2.5rem;
}

.statistics-content .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.statistics-content .grid-item {
  margin: 15px;
}

.statistics-content p {
  font-weight: 500;
}

.grid-item .horizontal-line {
  height: 1px;
  width: 90%;
  background: linear-gradient(90deg, #ffa64d 0%, rgba(255, 166, 77, 0) 100%);
  margin-bottom: 10px;
}

.statistics-section h5 {
  font-weight: 600;
  color: #e67301;
}

.statistics-section p {
  color: #4b5563;
}

.statistics-content p {
  font-size: 0.9rem;
}

.statistics-content .grid-container p {
  font-size: 1rem;
}

/* Values Section */
.values-section {
  background-color: #ffebd8;
}

.values-section h6 {
  font-weight: 700;
  color: #e67301;
  font-size: 0.9rem;
}

.values-section h2 {
  font-weight: 700;
  color: #1f2937;
  font-size: 2.5rem;
}

.values-section .card {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: calc((100% * 3%) / 3);
}

.values-section .card img {
  margin-bottom: 15px;
}

.values-section .card h5 {
  font-weight: 700;
  color: #1f2937;
}

.values-section .card p {
  color: #4b5563;
  font-weight: 500;
  font-size: 0.9rem;
}

/* Timeline Section */
.scroll-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.horizontal-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.horizontal-content .item {
  min-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-size: 24px;
  padding: 50px;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.horizontal-content .item.active {
  opacity: 1;
  transform: scale(1.1);
}

.horizontal-content .item h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #111827;
}

.horizontal-content .item p {
  color: #4b5563;
  font-size: 1rem;
}

.horizontal-content .item-1 img,
.horizontal-content .item-3 img,
.horizontal-content .item-5 img {
  margin-top: -150px;
}

.horizontal-content .item-2 img,
.horizontal-content .item-4 img,
.horizontal-content .item-6 img {
  margin-bottom: -150px;
}

.horizontal-content .progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  height: 3px;
  background: repeating-linear-gradient(
    to right,
    #ffdbb8,
    #ffdbb8 20px,
    /* Dash length */ transparent 15px,
    transparent 40px /* Gap length */
  );
  border-radius: 10px;
  overflow: visible !important;
}

.horizontal-content .progress {
  height: 100%;
  background-color: #ff7f00 !important;
  width: 0;
  border-radius: 10px;
  position: relative;
  z-index: 1 !important;
}

.horizontal-content .dots {
  position: absolute;
  bottom: -300%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-content .dots span {
  height: 20px;
  width: 20px;
  background-color: #ffdbb8;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.horizontal-content .dots span.active {
  background-color: #ff7f00;
}

/* Timeline section mobile view */
.timeline-section {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-section .container {
  overflow-x: auto;
  gap: 150px;
  height: 600px;
  scroll-behavior: smooth;
}

.timeline-section .timeline-card {
  width: 300px;
}

.timeline-section .timeline-card.card-1 img,
.timeline-section .timeline-card.card-3 img {
  margin-top: -100px;
}

.timeline-section .timeline-card.card-2 img,
.timeline-section .timeline-card.card-4 img {
  margin-bottom: -100px;
}

.timeline-section .timeline-card h2 {
  font-weight: 700;
  color: #111827;
  font-size: 3rem;
}

.timeline-section .timeline-card p {
  color: #4b5563;
  font-size: 0.9rem;
}

.timeline-section .progress-bar {
  height: 2px;
  width: 1370px;
  background-color: #ffdbb8;
  position: absolute;
  top: 50%;
  left: 22%;
  overflow: visible;
  background: repeating-linear-gradient(
    to right,
    #ffdbb8,
    #ffdbb8 20px,
    /* Dash length */ transparent 15px,
    transparent 40px /* Gap length */
  );
  border-radius: 10px;
}

.timeline-section .progress-bar .progress {
  height: 100%;
  width: 0%;
  background-color: #ff7f00;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s ease-out;
}

.timeline-section .progress-bar .dots {
  position: absolute;
  width: 100%;
  top: -7px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.timeline-section .dots .dot {
  width: 15px;
  height: 15px;
  background-color: #ff7f00;
  border-radius: 50%;
  position: relative;
}

/* Team Section */
.team-section h2 {
  font-weight: 700;
  color: #1f2937;
  font-size: 1.8rem;
}

.team-section .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.team-section .card-container .card {
  border: none;
  border-radius: 12px;
  background-color: #fffaf6;
  transition: left 1s ease, transform 1s ease, opacity 1s ease;
}

.team-section .card-container .card .card-content {
  padding: 15px;
}

.team-section .card-container .card .card-image {
  height: 350px;
  border-radius: 12px;
}

.team-section .card-container .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.team-section .card-container .card h5 {
  color: #e67301;
  font-weight: 600;
}

.team-section .card-container .card p {
  color: #4b5563;
  font-weight: 500;
  font-size: 0.9rem;
}

.card.hide {
  opacity: 0;
}

/* Founders section */
.founders-section {
  background: #ffebd8;
}

.founders-section > .container {
  overflow-x: hidden;
}

.founders-section .slider-header img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.founders-section h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

.founders-section .card-slider {
  overflow-x: auto;
}

.founders-section .card {
  flex-direction: row;
  border: none;
  width: 900px;
  height: 400px;
  margin: 35px;
  padding: 20px;
  flex: 0 0 auto;
  border-radius: 10px;
}

.founders-section .card p {
  font-weight: 500;
  color: #4b5563;
  line-height: 24px;
  font-size: 0.9rem;
}

.founders-section .card h5 {
  color: #e67301;
  font-weight: 600;
  margin-bottom: 5px;
}

.founders-section .card > img {
  margin-left: -50px;
}

/* Footer */
footer {
  background-color: #fafcff;
  padding: 30px 0px;
  border-top: 1px solid #e0eaff;
}

footer p,
footer li {
  font-size: 0.85rem;
}

footer .upper-footer {
  padding: 20px 0;
  border-bottom: 1px solid #c3d5ff;
  color: #6b7280;
  font-weight: 500;
}

.upper-footer li {
  padding: 4px 0px;
  font-size: 0.85rem !important;
}

.upper-footer li span {
  font-size: 0.65rem;
  padding: 5px 10px;
  color: #2469ff;
  background-color: #e0eaff;
  border-radius: 20px;
}

.upper-footer li.active {
  color: #ff7f00;
}

.upper-footer li:first-child {
  font-weight: 600;
  color: #1f2937;
  font-size: 0.9rem !important;
}

footer .lower-footer {
  padding: 20px 0;
}

.lower-footer p {
  color: #9ca3af;
  font-weight: 500;
}

.lower-footer img {
  opacity: 0.7;
}

.lower-footer img:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 1800px) {
  .about-us-section .image-container {
    left: -36px;
  }
}

@media screen and (min-width: 1400px) {
  main .container {
    max-width: 1168px !important;
  }
}

@media screen and (max-width: 1400px) {
  header nav {
    width: 1140px;
  }

  .middle-nav .services-dropdown-web-view {
    right: -10px;
  }

  .services-dropdown-web-view .columns {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (min-width: 1300px) {
  /* Statistics Section */
  .statistics-section {
    height: 1000px;
  }

  /* About Section */
  .about-us-section .image-container {
    left: 0%;
    width: 50%;
    height: 700px;
  }

  .about-us-section .image-container img {
    top: 20%;
    left: 50%;
    width: 110%;
    height: 120%;
  }
  .about-us-section .about-content {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  /* Navbar */
  header nav {
    width: 930px;
  }

  nav .middle-nav,
  nav .right-nav,
  nav .left-nav .vertical-line {
    display: none !important;
  }

  nav .left-nav {
    justify-content: space-between;
    width: 100%;
  }
  /* About Us Section */
  .about-us-section .about-content {
    margin-right: 10px;
    width: 50%;
  }

  /* Statistics section */
  .statistics-section {
    height: 700px;
  }

  /* Founders section */
  .founders-section .card {
    gap: 1.5rem !important;
  }
}

@media screen and (max-width: 1000px) {
  /* About Us Section */
  .about-us-section .container {
    flex-direction: column;
  }
  .about-us-section .image-container {
    position: static;
    height: auto;
  }
  .about-us-section .image-container img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(0%);
  }

  .about-us-section .image-container,
  .about-us-section .about-content {
    width: 100%;
  }

  .about-us-section .about-content {
    transform: translateY(0%);
    padding: 15px;
    margin-right: 0px;
  }

  .about-content h2 br {
    display: none;
  }

  .about-us-section {
    height: max-content;
  }

  /* Statistics Section */
  .statistics-section {
    height: 600px;
  }
  .statistics-section .image-container {
    width: 45%;
  }
  .statistics-content p br {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  /* Founder section */
  .founders-section > .container {
    max-width: 100% !important;
  }

  /* Timeline section */
  .timeline-section {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  /* Header */
  header nav {
    width: 690px;
  }

  header .mobile-nav {
    width: 690px;
  }

  /* Values Section */
  .values-section .card-container {
    flex-wrap: wrap;
  }
  .values-section .card-container .card {
    width: 300px;
  }

  /* Footer */
  .upper-footer .column:first-child {
    width: 300px;
  }
  .upper-footer .column:first-child p br {
    display: none;
  }

  /* Founder section */
  .founders-section .card-slider {
    gap: 1.5rem;
  }

  .founders-section .card {
    flex-direction: column;
    height: max-content;
    width: 400px;
    justify-content: center;
    margin: 200px 0px 0px 0px;
  }

  .founders-section .card > img {
    margin-top: -200px;
    margin-left: unset;
  }

  /* Timeline Section */
  .scroll-section {
    display: none;
  }

  .horizontal-content {
    overflow-x: auto;
    width: 100vw;
  }

  /* Teams Section */
  .team-section .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  /* Hero section */
  .hero-video-container {
    display: block;
    width: 100%;
    height: auto;
  }
  .hero-section .content {
    position: static;
    margin-top: -100px;
    margin-left: 20px;
  }
  .hero-section .content h2 {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
  }
  .hero-section .content p {
    padding: 5px 20px;
  }
}

@media screen and (max-height: 800px) {
  /* Timeline Section */
  .horizontal-content .item img {
    width: 280px;
  }

  .horizontal-content .item h2 {
    font-size: 3.5rem;
  }

  .horizontal-content .item-1 img,
  .horizontal-content .item-3 img {
    margin-top: -100px;
  }

  .horizontal-content .item-2 img,
  .horizontal-content .item-4 img {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 767px) {
  /* Header */
  header nav {
    width: 100%;
  }

  header .mobile-nav {
    width: 515px;
  }

  /* Statistics Section */
  .statistics-section {
    height: 1000px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .statistics-section .container {
    flex-direction: column-reverse;
  }
  .statistics-section .statistics-content {
    width: 100%;
  }

  .statistics-section .image-container {
    top: 10%;
    width: 500px;
  }

  /* Timeline Mobile view section */
  .timeline-section .progress-bar {
    left: 30%;
  }

  /* Teams Section */
  .team-section .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  header .mobile-nav {
    width: 95.4%;
  }
}

@media screen and (max-width: 570px) {
  /* Header */
  header {
    padding: 20px 10px 30px 10px;
  }

  header .mobile-nav {
    width: 95%;
  }

  /* About us Section */
  .about-content h2 {
    font-size: 1.7rem;
    line-height: 40px;
  }

  .about-content p {
    font-size: 0.9rem;
    line-height: 24px;
  }

  .about-us-section .container {
    gap: 1.5rem !important;
  }

  .about-content button {
    width: 100%;
  }

  /* Statistics Section */
  .statistics-section .image-container {
    width: 95%;
  }

  .statistics-content .grid-container p {
    font-size: 1.1rem;
  }

  /* Values section */
  .values-section h2 {
    font-size: 1.7rem;
  }

  .values-section .card-container {
    margin-top: 2rem !important;
  }

  .values-section .card-container .card {
    width: 95%;
    border-radius: 16px;
  }

  /* Footer */

  footer .upper-footer {
    flex-wrap: wrap;
  }

  .upper-footer ul {
    padding-left: 0px;
  }

  .upper-footer .column {
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }

  footer .lower-footer {
    flex-direction: column-reverse;
    align-items: center !important;
    gap: 15px;
  }
}

@media screen and (max-width: 500px) {
  /* Header */
  .mobile-service-dropdown > div > div > div ul {
    margin: 0px 20px 20px 0px !important;
  }

  header .mobile-nav {
    width: 94.6%;
  }

  /* Main */
  main {
    padding: 0px 0px 60px 0px;
  }

  .section {
    padding: 30px 0;
  }

  /* Hero section */
  .hero-section .content {
    margin-left: 15px;
    margin-top: -80px;
  }
  .hero-section .content h2 {
    font-size: 1.3rem;
    padding: 0px 10px;
    line-height: 35px;
  }
  .hero-section .content p {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  /* Statistics Section */
  .statistics-section {
    height: 850px;
  }

  .statistics-section h2 {
    font-size: 1.7rem;
  }

  .statistics-section .image-container {
    top: 6%;
  }

  /* Timeline Mobile view section */
  .timeline-section .progress-bar {
    left: 40%;
  }

  /* Teams Section */
  .team-section .card-container {
    gap: 15px;
  }

  .team-section .card-container .card .card-image {
    height: 300px;
  }
}

@media screen and (max-height: 500px) {
  .horizontal-content .item {
    gap: 40px;
  }

  .horizontal-content .item-1 img,
  .horizontal-content .item-3 img {
    margin-top: -60px;
  }

  .horizontal-content .item-2 img,
  .horizontal-content .item-4 img {
    margin-bottom: -60px;
  }

  .horizontal-content .item img {
    width: 180px;
  }
}

@media screen and (max-width: 450px) {
  /* Header */
  header .mobile-nav {
    width: 94%;
  }

  /* Timeline Mobile view section */
  .timeline-section .progress-bar {
    width: 1350px;
  }

  /* Founder section */
  .founders-section .card {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  /* Header */
  header .mobile-nav {
    width: 93.5%;
  }

  /* Teams Section */
  .team-section .card-container .card .card-image {
    height: 240px;
  }
}
