*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", serif !important;
}

a {
  color: unset !important;
  text-decoration: none !important;
}

input:focus {
  outline: none;
}

header {
  background-image: url("./images//blogs/blog-details-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  height: 550px;
}

header li:hover {
  cursor: pointer;
}

nav {
  padding: 8px 15px;
  border-radius: 14px;
  background: #ffffff8f;
  border: 1px solid #ffffff;
  position: fixed !important;
  top: 15px;
  width: 1320px;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

nav.active {
  background: #ffffff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

nav .left-nav {
  z-index: 3;
}

nav .vertical-line {
  height: 20px;
  width: 1px;
  background-color: #2469ff;
  border-radius: 2px;
}

nav .second-vertical-line {
  height: 20px;
  width: 1px;
  background-color: #000000;
  border-radius: 2px;
}

nav button {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.85rem;
  font-weight: 500;
}

nav button.white-btn {
  border: 1px solid #1f2937;
  color: #1f2937;
  background-color: transparent;
}

nav button.blue-btn {
  border: none;
  color: #ffffff;
  background-color: #00083d;
}

nav ul li {
  font-size: 0.85rem;
  font-weight: 500;
  color: #1f2937;
}

nav ul li.active {
  color: #2469ff;
}

nav li.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #2469ff;
  margin-top: 5px;
  margin-bottom: -5px;
  border-radius: 3px;
}

.middle-nav {
  z-index: 3;
  list-style: none;
  margin-bottom: 0px;
}

.middle-nav li:first-child img.rotate {
  transform: rotate(180deg);
}

.middle-nav .services-dropdown-web-view {
  position: absolute;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 0px;
  top: 38px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  list-style: none;
  z-index: 1;
}

.middle-nav .services-dropdown-web-view.active {
  opacity: 1;
  transform: translateY(0px);
}

.middle-nav .services-dropdown-web-view li {
  padding: 10px;
  white-space: nowrap;
}

nav .location {
  padding: 8px 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #0000001c;
  border-radius: 20px;
}

nav .search-engine input {
  padding: 8px 10px 8px 35px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #0000001c;
  border-radius: 20px;
  border: none;
  font-size: 0.85rem;
}

.search-engine img {
  position: absolute;
  left: 10px;
  top: 10px;
}

.hamburger {
  background: #ffffff;
  padding: 10px 8px;
  box-shadow: 0px 0px 8px 0px #0000001c;
  border-radius: 6px;
}

.burger {
  position: relative;
  width: 17px;
  height: 15px;
  background: #ffffff;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  width: 10px;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 12px;
  left: 3px;
}

.mobile-nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0px;
  top: 50px;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  border: 1px solid #ffffff;
  z-index: -1;
}

nav.active .mobile-nav {
  opacity: 1;
  transform: translateY(0px);
  z-index: 1;
}

.mobile-nav > li {
  margin-bottom: 13px;
  font-size: 0.9rem;
  list-style: none;
}

.mobile-nav li li {
  color: #6b7280;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 0.75rem;
}

.services-dropdown {
  max-height: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.services-dropdown img.rotate {
  transform: rotate(180deg);
}

.services-dropdown ul {
  padding-left: 0px;
}

.services-dropdown.active {
  max-height: 200px;
}

/* Blogs Header */
.blogs-header {
  margin-top: 100px;
}

.blogs-header h1 {
  color: #111827;
  font-weight: 700 !important;
}

.blogs-header p {
  font-size: 0.85rem;
}

.blogs-header ul {
  list-style: none;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.blogs-header .page-direction p {
  font-weight: 500;
}

.blogs-header .page-direction img {
  transform: rotate(-90deg);
}

.blogs-header .page-direction p:first-child {
  color: #6b7280;
}

.blogs-header .page-direction p:last-child {
  color: #1f2937;
}

.blogs-header li {
  padding: 3px 10px;
  border: 1px solid #99a7fe;
  color: #1f2937;
  font-size: 0.8rem;
  white-space: nowrap;
  border-radius: 20px;
  font-weight: 500;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 0px #99a7fe;
}

.profile-container .profile-image {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 0px #ffffff;
}

.profile-container h6 {
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 5px !important;
}

.profile-container p {
  font-size: 0.8rem;
  color: #6b7280;
  font-weight: 500;
}

/* Main */

main {
  padding-bottom: 50px;
  margin-top: -150px;
}

/* Blog Details Main */
.blog-details-main {
  width: 70%;
  border-radius: 24px;
  box-shadow: 0px 0px 16px 0px #00000029, 0px -5px 24px 0px #ffffff;
}

.blog-image {
  width: 100%;
}

.blog-image img {
  width: 100%;
  max-height: 500px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

article h5 {
  font-weight: 700;
  color: #111827;
}

article p,
article li {
  font-weight: 500;
  color: #374151;
  line-height: 28px;
}

/* Blog Details Sidebar */

.blog-details-sidebar {
  width: 30%;
}

.sidebar-header .horizontal-line {
  height: 1px;
  width: 100%;
}

.sidebar-header .horizontal-line:first-child {
  background: linear-gradient(90deg, rgba(156, 163, 175, 0) 0%, #9ca3af 100%);
}

.sidebar-header .horizontal-line:last-child {
  background: linear-gradient(90deg, #9ca3af 0%, rgba(156, 163, 175, 0) 100%);
}

.blog-details-sidebar .sidebar-header p {
  color: #4b5563;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-bottom: 0;
}

.blog-details-sidebar ul {
  list-style: none;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.blog-details-sidebar .card {
  border: none;
  margin-bottom: 40px;
  border-radius: 20px;
}

.card .card-image {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
  height: 200px;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-content p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #6b7280;
}

.card-content .vertical-line {
  width: 1px;
  background-color: #d1d5db;
  border-radius: 1px;
  height: 10px;
}

.card-content h5 {
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* Required for multiline ellipsis */
  -webkit-line-clamp: 2; /* Limits to 2 lines */
  -webkit-box-orient: vertical;
}

.card-content .tags {
  padding-left: 0px;
  flex-wrap: wrap;
}

.card-content .tags li {
  padding: 3px 10px;
  border: 1px solid #d1d5db;
  color: #1f2937;
  font-size: 0.8rem;
  white-space: nowrap;
  border-radius: 20px;
  font-weight: 500;
}

/* Footer */
footer {
  background-color: #fafcff;
  padding: 30px 0px;
  border-top: 1px solid #e0eaff;
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

footer p,
footer li {
  font-size: 0.85rem;
}

footer .upper-footer {
  padding: 20px 0;
  border-bottom: 1px solid #c3d5ff;
  color: #6b7280;
  font-weight: 500;
}

.upper-footer li {
  padding: 3px 0px;
}

.upper-footer li.active {
  color: #ff7f00;
}

.upper-footer li:first-child {
  font-weight: 600;
  color: #1f2937;
  font-size: 0.9rem;
}

footer .lower-footer {
  padding: 20px 0;
}

.lower-footer p {
  color: #9ca3af;
  font-weight: 500;
}

.lower-footer img {
  opacity: 0.7;
}

.lower-footer img:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  header .container .container,
  main .container {
    max-width: 1168px !important;
  }
}

@media screen and (max-width: 1400px) {
  header nav {
    width: 1140px;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  header nav {
    width: 930px;
  }

  nav .middle-nav,
  nav .right-nav,
  nav .left-nav .vertical-line {
    display: none !important;
  }

  nav .left-nav {
    justify-content: space-between;
    width: 100%;
  }

  main {
    margin-top: -100px;
  }
}

@media screen and (max-width: 992px) {
  header nav {
    width: 690px;
  }
  .upper-footer .column:first-child {
    width: 300px;
  }
  .upper-footer .column:first-child p br {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  main > .container {
    flex-direction: column;
    align-items: center !important;
  }
  main > .container > div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    width: 520px;
  }
}

@media screen and (max-width: 600px) {
  header nav {
    width: 95%;
    left: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 570px) {
  header {
    padding: 50px 0px;
  }

  footer .upper-footer {
    flex-wrap: wrap;
  }

  .upper-footer ul {
    padding-left: 0px;
  }

  .upper-footer .column {
    margin-bottom: 20px !important;
    margin-right: 20px !important;
  }

  footer .lower-footer {
    flex-direction: column-reverse;
    align-items: center !important;
    gap: 15px;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin-top: -80px;
  }
  .blogs-header .page-direction p:last-child {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
