html,
body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

input:focus {
  outline: none;
}

.login {
  background-image: url(./images/signup&login/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 50px;
  font-family: "Montserrat", serif !important;
  height: 100vh;
}

h1 {
  font-size: 2rem !important;
  font-weight: 600;
}

/* Form container */
.login .form-container {
  width: 650px;
  overflow: hidden;
}

.form-container {
  border: 3px solid #ffffff;
  background-color: #ffffff8f;
  border-radius: 24px;
  height: 60vh;
}

.form-container > div {
  padding: 25px 30px 55px 30px;
  width: 100%;
}

.form-container h1 {
  color: #011594;
  font-weight: 700;
}

.form-container .tagline {
  color: #010d5b;
  font-size: 0.9rem;
  font-weight: 500;
}

form .input-group {
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.input-group label {
  color: #4b5563;
  font-size: 0.85rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group label span {
  color: #ff3b3b;
}

.input-group input {
  border: 1px solid #e5e7eb;
  padding: 10px;
  border-radius: 10px !important;
}

.error {
  font-size: 0.8rem;
  color: #ff3b3b;
  margin-top: 3px;
  display: none;
}

.input-group.invalid input {
  border: 1px solid #ff3b3b;
  box-shadow: 0px 0px 6px 0px #ff3b3b;
}

.input-group.invalid .error {
  display: block;
}

.input-group input::placeholder {
  font-size: 0.85rem;
}

form .input-group img {
  position: absolute;
  right: 20px;
  top: 40px;
}

form .input-group img:hover {
  cursor: pointer;
}

form button {
  width: 100%;
  text-align: center;
  background-color: #011594;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Illustration Container */
.login .illustration-container {
  position: absolute;
  right: 0px;
  width: 700px;
}

.login .illustration-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Pwd Reset Container */
.confirmation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.confirmation-container p {
  color: #010d5b;
}

.confirmation-container a {
  width: 90%;
}

.confirmation-container a button {
  border-radius: 20px;
  background-color: #011594;
  color: #ffffff;
  padding: 8px;
  font-weight: 500;
  border: none;
  width: 100%;
}

.change-pwd-container,
.confirmation-container {
  transition: transform 0.4s ease;
  flex: 0 0 auto;
  height: 100%;
}

.change-pwd-container.show,
.confirmation-container.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.change-pwd-container.hide {
  transform: translateX(-620px);
}

.confirmation-container.hide {
  transform: translateX(600px);
  opacity: 0;
  visibility: hidden;
}

/* Media Queries */
@media screen and (max-width: 1519px) {
  .login .illustration-container {
    width: 650px;
  }

  .login .form-container {
    width: 600px;
  }
}

@media screen and (max-width: 1400px) {
  .login .illustration-container {
    width: 600px;
  }
  .login .form-container {
    width: 580px;
  }
}

@media screen and (max-width: 1250px) {
  .login .form-container {
    width: 520px;
  }
}

@media screen and (max-width: 1200px) {
  .login .illustration-container {
    width: 500px;
  }

  .login .form-container {
    width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .login .illustration-container {
    display: none;
  }
  .login .container {
    justify-content: center !important;
  }
}

@media screen and (max-height: 800px) {
  .form-container {
    height: max-content;
  }
}

@media screen and (max-width: 620px) {
  .login {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 535px) {
  .google-apple-btn {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .form-container > div {
    padding: 15px 10px 15px 10px;
  }
}
